<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User-Login</title>
    <link rel="stylesheet" href="css/bootstrap.css" />
     <script src="js/bootstrap.bundle.js"></script>
</head>
<style>
     #a0 {
        background-color:#1e3333;
        padding-left: 10px;
    }
    #a1 {
        background-color: #A6E2E2;
        height: 50px;
    }
    #a2 {
        padding-top: 10px;
        background-color:white;
    }
    #a3 {
        font-size: 15px;
    }
    #a4 {
        color:#A6E2E2;
    }
    #a5 {
        padding-bottom: 20px;
    }
    #a6 {
        color:white;
    }
    #a7 {
        background-color:#8ecfcf;
        height: 300px;
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 30px;
    }
    #a8 {
        position:absolute;
        right: 300px;
        top:200px;
        width: 500px;
        border: 3px solid #1e3333 ;
        padding: 10px;
    }
    #a10 {
        height: 500px;
        background-color: white
    }

    #a11 {
        height: 50px;
        background-color: white;
    }
    #a13 {
        background-color: #A6E2E2;
        height: 220px;
        text-align: center;
        font-family: 'Nyala';
        font-size: 30px;
        bottom:0px;
        padding-top: 30px;
        position:absolute;
    }
    #a14 {
        background-color: #1e3333;
        color:white;
        height: 50px;
        bottom:0px;
        position:absolute;
        width:1540px;
    }
    .button:hover {
        background-color:gray;
    }
    .button:active {
        background-color:white;
        box-shadow: 0 3px #666;
        transform: translateY(4px);
    }
    .button {
        display: inline-block;
        padding: 15px 20px;
        font-size: 15px;
        font-weight: bolder;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        outline: none;
        color:#0ec5c5;
        background-color:white;
        border: none;
        border-radius: 15px;
        box-shadow: 0px 3px #999;
    }
</style>
<body>
    <div class="fixed-container" id="a5">
        <nav class="navbar navbar-expand-lg " id="a0">
            <a class="navbar-brand" id="a4">Internship Management</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="nav">
                    <li class="nav-item ">
                        <a class="nav-link" id="a4" href="">Home <span class="sr-only"> </span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="a6" href="">Apply</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" id="a6" href="">Status</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="a6" href="">Contact Us</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <% if(typeof error !=='undefined' ){ %>
        <div class="alert alert-danger alert-dismissible fade show position-absolute w-100" role="alert"
            style="border: 1px solid rgb(235, 79, 79); z-index:88; ">
            <strong>Wrong Credentials!</strong>Please check your credentials and try again.
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <% } %>
    <center>
        <h1 style="font-family:Lucida Console, Courier New, monospace">WELCOME</h1>
    </center>
    <img src="./image/Shared workspace-amico.png" class="card-img-top" alt="..." style="float:left;position:relative;
      left:180px; width:440px;height:440px;">
    <div class="container" id="a8">
        <div class="row">
            <div class="col">
                    <form method="POST" action="login" id="a7">
                        <div class="mb-3">
                            <label class="form-label">Email-Id</label>
                            <input type="email" name="email" value="" class="form-control" />
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Password</label>
                            <input type="password" name="password" value="" class="form-control" />
                        </div>
                        <center><button type="submit" class="button">Login</button></center>
                    </form>
            </div>
        </div>
    </div>
    <img src="./image/Login2-amico.png" class="card-img-top" alt="..." style="float:right;position:relative;
          right:54px;  width:300px;height:400px;top:100px">
</div>
    <div class="footer-copyright text-center py-3" id="a14">© 2021 Copyright:
        <a href="" style="color:aqua"> company.com</a>
    </div>
</body>
</html>